# To not track the created CRQs when running the code
created-crqs/
/Users/germaineluah/Documents/Documents - Germaine’s MacBook Air/code/uob-code/crq-scheduling/C:\Users\OPSRO1\Desktop\code\CRQ Scheduling\created-crqs
crq-reference.json

# Ignore all .env files
*.env

# Ignore entire directories
secrets.py
secrets/